@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #e1dedb;
    font-family: 'Anton', sans-serif;
}

.normal-family-font{font-family: sans-serif;}